@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0px;
  padding: 0px;
}

.controlsContainer {
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.8rem;
  border-top-right-radius: 4px;
}

.tools {
  max-height: 30px;
  /*height: 30px;*/
  margin: 0px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 2.5px;
  /*padding-top: 0px;
  padding-bottom: 0px;*/
}

button.tools {
  border: 1px solid;
  border-radius: 4px;
  font-size: 0.8rem;
}

button:focus {
  outline: none;
}

#urls {
  border-top: 0px;
  border-left: 0px;
  border-bottom-right-radius: 4px;
}

textarea {
  height: 70vh;
  width: 275px;
}
