body {
  margin: 0px;
  padding: 0px;
}

.controlsContainer {
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.8rem;
  border-top-right-radius: 4px;
}

.buttons {
  margin-bottom: 0.8rem;
}

button.rank {
  border: 2px solid;
  border-radius: 3px;
  height: 2rem;
  color: white;
  font-size: 0.8rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 4rem;
}
